@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7fafc;
  color: #2d3748;
}

.container {
  max-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Geist", sans-serif;
}